%tr
  %th#id
    id
    %span.glyphicon.glyphicon-sort
    %span.glyphicon.glyphicon-sort-by-attributes.color-red
    %span.glyphicon.glyphicon-sort-by-attributes-alt.color-red
  %th#login
    login
    %span.glyphicon.glyphicon-sort
    %span.glyphicon.glyphicon-sort-by-attributes.color-red.hidden
    %span.glyphicon.glyphicon-sort-by-attributes-alt.color-red.hidden
    = link_to '', '#', title: t('remove-all-sorts'), class: 'glyphicon glyphicon-remove-circle color-red', style: 'float: right;'