%div.col-md-4
  %table.table.table-condensed
    %thead
      = render 'elo_user_title'
    %tbody
      = render @elo_users

  %br
  = paginate @elo_users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm"
%div.col-md-8.user-information
