- if user_signed_in? && current_user.dashboards?
  %div.row.table-with-forms
    = render 'regulations/temple_forms'

  - if current_user.autorefresh?
    :javascript
      var timerId = setInterval(function() {
        $.ajax({
          type: 'get',
          dataType: 'jsonp',
          url: '/'
        });
      }, 45000);

- else
  %div.row
    %h1
      Добро пожаловать