
development:
  adapter: sqlserver
  host: ip
  username: user_name
  password: password
  database: database_name

test:
  <<: *default
  database: db/test.sqlite3

elodb_mssql:
  adapter: sqlserver
  host: 10.0.0.0
  username: username
  password: password
  database: elodb

fsm_mssql:
  adapter: sqlserver
  host: 10.0.0.0
  username: username
  password: password
  database: fsmonitoring