/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap-datepicker
 *= require_self
 */

.time {
    width: 100px;
    text-align: center;
}

.num {
    width: 10px;
    text-align: center;
}

@font-face {
    font-family: 'Still_Time_Cyr';
    /*src:url('icomoon.eot');*/
    /*src:url('icomoon.eot?#iefix') format('embedded-opentype'),*/
    /*url('icomoon.svg#icomoon') format('svg'),*/
    /*url('icomoon.woff') format('woff'),*/
    src: url('Still_Time_Cyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StudioScriptC';
    /*src:url('icomoon.eot');*/
    /*src:url('icomoon.eot?#iefix') format('embedded-opentype'),*/
    /*url('icomoon.svg#icomoon') format('svg'),*/
    /*url('icomoon.woff') format('woff'),*/
    src: url('StudioScriptC.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher_Regular';
    /*src:url('icomoon.eot');*/
    /*src:url('icomoon.eot?#iefix') format('embedded-opentype'),*/
    /*url('icomoon.svg#icomoon') format('svg'),*/
    /*url('icomoon.woff') format('woff'),*/
    src: url('Philosopher_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.scrolling {
    height: 83%;
    overflow-x: scroll;
    overflow-y: scroll;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    opacity: 0.5;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('/assets/logo.gif') no-repeat 100% 100%;
    margin: -16px 0 0 -16px;
}