// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.request {
  width: 400px;
  text-align: center;
}
.other{
  width: 100px;
}
table tbody.request_tbody{
  width: 97%;
  height: 85%;
  position: fixed;
  overflow: scroll;
}
tr td.time {
  text-align: right;
}
.data-select {
  width: 12em;
}
.menu_icon {
  float: left;
  //width: 30px;
  height: 30px;
  border: 0px;
}
.menu_icon_big {
  float: left;
  //width: 230px;
  height: 30px;
  border: 0px;
}
.menu_font {
  font-family: 'StudioScriptC';
  font-size: 32px;
}
.default_font {
  font-family: 'Philosopher_Regular';
  //font-size: 32px;
}